<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Succefull upload</title>
	
<a href="/home"><IMG SRC="/img/ok.png" style="margin:10% 35% 0 35%; width:30%; position: absolute;">
					</a>
	

</div>
</body>
</html>
